.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #686868;
}

#dropzones {
    min-height: 85vh;
    background-color: #686868;
}

#dropzone-headers {
    margin-bottom: 1px;
}

#todo-dropzone-header {
    justify-content: space-between;
}

#doing-dropzone-header {
    border-left: 2px solid #686868;
    border-right: 2px solid #686868;
}

#doing-dropzone {
    border-left: 2px solid #424242;
    border-right: 2px solid #424242;
}

.dropzone-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    color: white;
}

.dropzone-header h2 {
    font-weight: 500;
}

.clickable-icon {
    color: #f48fb1;
}

.clickable-icon:hover {
    cursor: pointer;
    color: #ed4980;
}

.dropzone {
    height: 100%;
    width: 100%;
}

.dropzone > div {
    width: 80%;
    margin: auto;
}
