.kanban-card {
    margin-top: .5em;
    margin-bottom: .5em;
    max-width: 400px;
}

.kanban-card:hover {
    cursor: grab;
}

.kanban-card:active {
    cursor: grabbing;
}

.edit-icon, .delete-button {
    color: #f48fb1;
}

.edit-icon:hover {
    cursor: pointer;
    color: #ed4980;
}
